<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @user.email.split('@').first %>!</h1>
    <p>You have been invited to join the house: <%= @house.name %>.</p>
  </body>
</html>
