<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email.split('@').first %>!</h1>
    <h2>Change me</p>
  </body>
</html>
