<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @friend_email.split('@').first %>!</h1>
    <p>You have been invited to join the home: <%= @home_name %>!</p>
    <p><a href="http://tiy-homeshare.herokuapp.com">Check out Homeshare here!</a></p>
  </body>
</html>
